.sidebarRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
  height: 50px;
}

.sidebarRow:hover {
  background-color: rgba(211, 211, 211, 0.473);
  border-radius: 10px;
}

.sidebarRow > img {
  height: 30px;
  width: 30px;
}

.sidebarRow > h4 {
  font-weight: 600;
  margin-left: 10px;
  color: #fafbfd;
}
